.App {
  color: rgb(236, 211, 140);
  width: 100vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: contain;
  overflow-y: auto;
}

::selection {
  background: rgb(177, 177, 175);
}

::-moz-selection {
  background: rgb(177, 177, 175);
}

.liurnia{
  background: url("./static/images/backgrounds/liurnia.PNG");
}

.caelid{
  background: url("./static/images/backgrounds/caelid.PNG");
}

.erdtree{
  background: url("./static/images/backgrounds/erdtree.PNG");
  color: black;
}

.academy{
  background: url("./static/images/backgrounds/academy.PNG");
  color: cyan;
}

.limgrave{
  background: url("./static/images/backgrounds/limgrave.PNG");
}

.altus{
  background: url("./static/images/backgrounds/altus.PNG");
  color: black;
}

.black{
  background: rgb(0,0,0)
}
